@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 0 0% 100%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 0 0% 100%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 0 0% 100%;

    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 100%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 0 0% 100%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 0 0% 100%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

  .oled {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --card: 0 0% 0%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 100%;

    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 0%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 0%;
    --muted-foreground: 0 0% 100%;

    --accent: 0 0% 0%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 0% 0%;
    --destructive-foreground: 0 0% 100%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

  .prose-light {
    --tw-prose-body: #e0e0e0;
    --tw-prose-headings: #e0e0e0;
    --tw-prose-lead: #e0e0e0;
    --tw-prose-links: #ecdfdf;
    --tw-prose-bold: #ffffff;
    --tw-prose-counters: #ffffff;
    --tw-prose-bullets: #ffffff;
    --tw-prose-hr: #ffffff;
    --tw-prose-quotes: #ffffff;
    --tw-prose-quote-borders: #ffffff;
    --tw-prose-captions: #ffffff;
    --tw-prose-kbd: #ffffff;
    --tw-prose-kbd-shadows: 28 25 23;
    --tw-prose-code: #ffffff;
    --tw-prose-pre-code: #ffffff;
    --tw-prose-pre-bg: #ffffff;
    --tw-prose-th-borders: #ffffff;
    --tw-prose-td-borders: #ffffff;
    --tw-prose-invert-body: #ffffff;
    --tw-prose-invert-headings: #fff;
    --tw-prose-invert-lead: #ffffff;
    --tw-prose-invert-links: #000;
    --tw-prose-invert-bold: #000;
    --tw-prose-invert-counters: #ffffff;
    --tw-prose-invert-bullets: #ffffff;
    --tw-prose-invert-hr: #ffffff;
    --tw-prose-invert-quotes: #ffffff;
    --tw-prose-invert-quote-borders: #ffffff;
    --tw-prose-invert-captions: #ffffff;
    --tw-prose-invert-kbd: #000;
    --tw-prose-invert-kbd-shadows: 255 255 255;
    --tw-prose-invert-code: #000;
    --tw-prose-invert-pre-code: #ffffff;
    --tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
    --tw-prose-invert-th-borders: #eae4dd;
    --tw-prose-invert-td-borders: #eae4dd;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
